  @media screen and (max-width:720px) {
      .all-content-wrapper {
          overflow-x: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          overflow-x: hidden !important;
          overflow-y: hidden !important;
      }
  }

  /* for all headings */

  @media (max-width:1200px) {
      h1 {
          font-size: 2rem;
          overflow-y: hidden;
      }
  }

  @media screen and (max-width: 720px) {
      h1 {
          font-size: 2rem;
      }

      h2 {
          font-size: 2rem;

      }

      h3 {
          font-size: 2rem;
      }
  }

  @media screen and (max-width:720px) {
      h2 {
          padding-top: 1em;
      }
  }

  /* //for all headings */

  /* for-profile-section */

  @media (max-width:720px) {
      div .top-img img {
          height: 16em;
          width: 16em;
      }
  }

  /* //for-profile-section */


  /* for-project-section */

  @media screen and (max-width:720px) {
      .last-one {
          padding-top: 1em;
      }
  }

  @media screen and (max-width:720px) {
      div .projects-img {
          padding-top: 1.5em;
      }
  }

  /* //for-project-section */


  /* for-blog-section */
  @media screen and (max-width:720px) {
      div .main-img-blog {
          padding-top: 4em;
      }
  }
  @media screen and (max-width:390px) {
     .main-butn {
        margin-bottom: 1rem;
    }
}

  @media screen and (max-width:720px) {
      div .blog-wrap-2 {
          padding-bottom: 4em;
      }
  }

  @media screen and (max-width:720px) {
      .blog-img-3 img {
          padding-top: 1.5em;
      }
  }

  /* //for-blog-section */

  /* for-contact-section */
  @media screen and (max-width:720px) {
      div .footer-brand-nam span {
          font-size: .5em;
      }
  }

  /* //for-contact-section */


  /* demo for how to work media */

  /* 

@media screen and (max-width:720px) {
    /* .navbarNav .navbar-toggler-icon {
        margin-left: -4em;
    } 
    .navbar-brand img span {
        font-size: .5em;
        overflow-x: hidden;
        display: flex;
        justify-content: start;
    }
}

@media (max-width:720px) {
    .profile-content .profile-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.34rem;
        overflow-x: hidden;
    }
}

@media (max-width:720px) {
    .profile-content .profile-main .top-img img{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
    }
}

@media (max-width:720px) {
    .top-img img .img-2{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
    }
}

@media  (max-width:991px) {
    .content-head .navbar-collapse{
        margin-top: -0.125rem;
        overflow-x: hidden;
    } 
    .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-color-w);
        padding-bottom: 0.9372rem;
        overflow-x: hidden;
    }
    .content-head .nav-item .nav-link{
        margin-top: 0.9375rem;
        overflow-x: hidden;
    }
}

@media (max-width:720px){
   .blog-content .blog-img-3 img {
        flex-direction: column;
        margin-left: -32em;
        overflow-x: hidden;
    }
}

@media (max-width:720px) {
    .projects-content .h-hov {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow-x: hidden;
    }
    .projects-pera .title-respons {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow-x: hidden;
    }

    .projects-butn-1 {
        margin-bottom: 2rem;
        justify-content: center;
        display: flex;
        overflow-x: hidden;
    }
}

@media (max-width:720px){
    .blog-content .main-heading .contact-content {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }

    .main-img-blog img {
        margin-top: 2.45rem;
        display: flex;
        justify-content: flex-start;
        overflow-x: hidden;
    }
}

@media (max-width:720px){
    .contact-content .main-cont{
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }

    .tog-icon-1 i {
        font-size: 1em;
        overflow-x: hidden;
    }
    .cont-para span{
        font-size: .8em;
        overflow-x: hidden;
    }

    .pera {
        font-size: .8em;
        overflow-x: hidden;
    }
} */

  /* 992
  768 
  570 */