@media  (max-width:1200px) {
    h1 {
        font-size: 2rem;
    }
}

@media  (max-width:470px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
            font-size: 1.5rem;
        
    }
    h3 {
        font-size: 1.5rem;
    
}
}

@media (max-width:500px) {
    .navbarNav .navbar-toggler-icon {
        margin-left: -2em;
    }
}

@media (max-width:992px) {
    .profile-content .profile-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.34rem;
    }
}

@media (max-width:992px) {
    .top-img .img-2{
      margin-left: 5em;
    }
}

@media  (max-width:991px) {
    .content-head .navbar-collapse{
        margin-top: -0.125rem;
    } 
    .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-color-w);
        padding-bottom: 0.9372rem;
    }
    .content-head .nav-item .nav-link{
        margin-top: 0.9375rem;
    }
}

@media (max-width:992px){
   .blog-content .blog-img-3 img {
        flex-direction: column;
        margin-left: -32em;
    }
}

@media (max-width:500px) {
    .projects-content .h-hov {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .projects-pera .title-respons {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .projects-butn-1 {
        margin-bottom: 2rem;
        justify-content: center;
        display: flex;
    }
}

@media (max-width:500px){
    .blog-content .main-heading {
        display: flex;
        justify-content: center;
    }

    .main-img-blog img {
        margin-top: 2.45rem;
        display: flex;
        justify-content: flex-start;
    }
}

@media (max-width:500px){
    .contact-content .main-cont{
        display: flex;
        justify-content: center;
    }

    .tog-icon-1 i {
        font-size: 1em;
    }
    .cont-para span{
        font-size: .8em;
    }

    .pera {
        font-size: .8em;
    }
}

