@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Roboto", sans-serif ;
}

:root {
    --background-color: #E9ECEF;
    --bg-color-b: #000;
    --bg-color-w: #fff;
    --primary-color: #343A40;
    --secondary-color: #212529;
    --butn-color: #dc2f02;
    --bg-color-g: #e1e1e1;
    --bg-color-h: #1fabf2;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

.all-butn {
    display: inline-block;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border-radius: .5em;
    line-height: 2.5rem;
    padding: 0 2rem;
    transform: all 300ms;
    /* --webkit-transform: all 300ms; */
    border:double .125rem transparent;
}
section {
    padding: 5rem 0;
}
.main-butn {
    background: var(--butn-color);
    color: var(--bg-color-w);
}
.main-butn:hover {
    border-color: var(--primary-color);
    background: var(--bg-color-g);
    color: var(--bg-color-b);
}

h1{
    font-size: 2.85em;
    font-weight: 700;
    color: var(--bg-color-b);
    line-height: 3.2rem;
    margin-bottom: 1.5rem;
}

h2{
    font-size: 2.263em;
    font-weight: 500;
    color: var(--bg-color-b);
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

h3{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    color: var(--bg-color-b);
    line-height: 2.1rem;
    margin-bottom: .5rem;
}

p {
    color: var(--bg-color-b);
    font-size: .8em;
    font-weight: 500;
    line-height: 1.5rem;
}

/* start navbar */

.content-head .navbar {
    padding: .2rem;
    transition: all 200ms;
}
.content-head .navbar-brand img {
    height: 60px;
    max-width: 6em;
}

.content-head .navbar-brand span {
    color: var(--bg-color-b);
    font-weight: 700;
}

.content-head .nav-item{
    margin: 0 .8em;
}
.content-head .nav-item .nav-link {
    display: inline-block;
    color: var(--bg-color-b);
    text-transform: uppercase;
    font-weight: 550;
}

.content-head .nav-item .nav-link:hover,
.content-head .nav-item .nav-link:active {
    color: var(--bg-color-h);
}

/* close navbar */

.profile-content{
    padding-top: 8rem;
    z-index: 1;
}
.profile-content .profile-main {
    vertical-align: middle;
    align-self: center;
}
.top-img img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

/* .anime-img img {
    height: 100px;
    width: 100px;
} */

.blog-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* object-fit: cover; */
    
}

.blog-img-2 img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 4.5rem;
    /* margin-left: -2em; */
    /* object-fit: cover; */
}

.blog-img-3 img {
    height: 200px;
    width: 200px;
    position: relative;
    left: 32rem;
    top: -4em;
    border-radius: 50%;
    margin-left: 18em ;
    /* object-fit: cover; */
}

.blog-content .right-img {
    display: flex;
    justify-content: center;
    float: right;
}

.row {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.contact-content .cont-box {
    height: 50vh;
    max-width: 100%;
    background-color: var(--bg-color-g);
    text-align: center;
    border-radius: 40px;
}

.contact-content .cont-box input {
    padding: .543rem;
    width: 50%;
    margin: 1rem;
    border-radius: 10px;
    outline-color: var(--bg-color-h);
}
.contact-content .cont-img img {
    height: 100px;
    width: 100px;
    background-color: var(--bg-color-g);
}
